<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    
    <title>Mobile & Web Application Developer | Alejandro Cruz</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <meta name="description" content="Alejandro Cruz, a seasoned software engineer from Mexico City with expertise in developing mobile and web applications since 2008. Specializing in mobility and civic tech, serving clients in Mexico, Europe, and the United States.">
    <meta name="keywords" content="Alejandro Cruz, CDMX, Amsterdam, Paris, Berlin, Fintech, Maps, Location based apps, geospatial, travel, health care, Software Engineer, Mobile Application Developer, Web Application Developer, Mexico City, Mobile Applications, Web Applications, Civic Tech, Mobility Industry, Software Development, Mexico, Europe, United States">

    <link rel="stylesheet" href="{% static 'css/cover.css' %}">

    <link rel="canonical" href="http://aguasconelagua.mx/colonias-afectadas" />

    <meta property="og:title" content="Mobile & Web Application Developer | Alejandro Cruz">
    <meta property="og:description" content="Alejandro Cruz, a seasoned software engineer from Mexico City with expertise in developing mobile and web applications since 2008. Specializing in mobility and civic tech, serving clients in Mexico, Europe, and the United States.">
    <meta property="og:image" content="http://alexito.dev/static/images/alex.jpg">
    <meta property="og:url" content="http://alexito.dev">

    <meta name="twitter:title" content="Mobile & Web Application Developer | Alejandro Cruz">
    <meta name="twitter:description" content="Alejandro Cruz, a seasoned software engineer from Mexico City with expertise in developing mobile and web applications since 2008. Specializing in mobility and civic tech, serving clients in Mexico, Europe, and the United States.">
    <meta name="twitter:image" content="http://alexito.dev/static/images/alex.jpg">
    <meta name="twitter:card" content="summary_large_image">
</head>
<body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <div class="inner">
            <h3 class="masthead-brand"></h3>
            <nav class="nav nav-masthead justify-content-center">
            </nav>
          </div>
        </header>
  
        <main role="main" class="inner cover">
            <div class="container">
                <div class="row">
                  <div class="col">
                  </div>
                  <div class="col-6">
                    <img src="{% static 'images/profile.png' %}" class="img-fluid rounded-circle" alt="Me">
                  </div>
                  <div class="col">
                  </div>
                </div>
            </div>
            <div class="mt-5 py-2">
                <h1 class="cover-heading">Alejandro Cruz Paz</h1>
                <p class="lead">Born and raised in Mexico City, I've been developing mobile and web applications since 2008 for organisations all sizes located in Mexico, Europe and the United States.</p>
                <div class="container">
                    <p class="lead mt-5">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/spalatin/" target="_blank" class="btn btn-primary btn-sm"><i class="bi bi-linkedin"></i> LinkedIn</a></li>
                            <li class="list-inline-item"><a href="https://github.com/vidriloco" target="_blank" class="btn btn-primary btn-sm"><i class="bi bi-github"></i> Github</a></li>
                            <li class="list-inline-item mb-3"><a href="https://tallerdeapps.mx/proyectos" target="_blank" class="btn btn-warning btn-sm">See my projects</a></li>
                            <li class="list-inline-item"><a href="mailto:hi@alexito.dev" class="btn btn-primary btn-sm"><i class="bi bi-envelope"></i> hi@alexito.dev</a></li>
                        </ul>
                    </p>
                </div>
            </div>
        </main>
  
        <footer class="mastfoot mt-auto">
          <div class="inner">
            <p>Amsterdam / Mexico City <b>@</b> 2024</p>
          </div>
        </footer>
      </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">